@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Loading bar animation */
@keyframes loading-bar-smooth {
  0% {
    width: 0%; /* Start with no progress */
  }
  100% {
    width: 100%; /* Fill the entire bar */
  }
}

/* Runner animation */
@keyframes runner-smooth {
  0% {
    left: 0%; /* Start at the beginning of the bar */
  }
  100% {
    left: 100%; /* End at the right edge of the bar */
  }
}
